<h1>Page#info</h1>
<p>Find me in app/views/page/info.html.erb</p>
<h1>Essa pagina eh de inforamacao sobre o sistema</h1>
<br>
<p>Teste de dados de informacoes<p>
<p><b>Nome: </b><%= Idea.find_by(id: '6').name %></p>


